.User{
    list-style-type: none;
    width: 22.7%;
    text-align: center;
    background-color: #fff;
    margin: 1%;
    border:1px solid #ddd;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .User{
        width: 31%;
    }
  }
  @media (max-width: 767px) {
    .User{
        width: 45.6%;
        margin: 0;
    }
  }
  @media (max-width: 600px) {
    .User{
        width:100%;
        margin: 0;
    }
  }
.User:hover{
    box-shadow: 0px 0px 6px #ddd;
}
.img-wrap{
    background-color: #f6f6f6;
}
img{
    height: 140px;
}
.user-content{
    padding: 5px;
}

.footer{
    background-color: #f6f6f6;
    padding: 12px;
    display: flex;
    justify-content: space-around;
}
.fa-heart, .fa-heart-o{
    color: red;
}
.fa-trash, .fa-pencil{
    color:#7c7979;
}

.btn{
    border: 0;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
}